.statistics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  max-width: 300px;
  width: 100%;
  height: 140px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #ccc;
}

.title {
  height: 50%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.statList {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  background-color: #e8edf1;
}

.item {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #cdd6e0;
}

.item:not(:last-child) {
  border-right: 1px solid #cdd6e0;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

.percentage {
  display: block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
}
